// Place all the styles related to the armies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
margin: 0 0 0 32px;
line-height: 1.5
}

.unit {
    list-style-image: url('unit_bullet.png');
    vertical-align: middle;
}
